<!DOCTYPE html>
<html lang='en'>
<head>
    <title> HTML Login Form </title>
    <link rel="stylesheet" type="text/css" href="../static/css/login.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../static/js/login.js"></script>
</head>
<body>
    <div class="form-container">
        <ul class="list">
            <li><h3> Signin </h3></li>
            <li><input type="text" name="user" placeholder="User Name"></li>
            <li><input type="password" name="password" placeholder="password"></li>
            <li><input type="button"></li>
        </ul>
    </div>
</body>
</html>